[submodule "TinyMotor"]
	path = TinyMotor
	url = https://github.com/Forairaaaaa/TinyMotor.git
[submodule "TinyPMU"]
	path = TinyPMU
	url = https://github.com/Forairaaaaa/TinyPMU.git
[submodule "RGB-SEN"]
	path = RGB-SEN
	url = https://github.com/Forairaaaaa/RGB-SEN.git
[submodule "HARDWARE-PORT"]
	path = HARDWARE-PORT
	url = https://github.com/Forairaaaaa/HARDWARE-PORT.git